ul.accordion,

ol.accordion {
    /* float: left; */
    /* width: 250px; */
    /* padding: 5px; */
    /* margin: 0; */
    /* padding: 0; */
    height: 25px;
    width: 275px;
    position: absolute;
    top: 110px;
    right: 30px;
    z-index:5;
    background-color: #939598;
    padding-left:0px;
    border-radius: 5px;
    -moz-border-radius: 5px;
}

.accordion li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: #7AF;
    opacity:0.85;
    filter:alpha(opacity=85); 
}

.accordion li:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    *zoom: 1;
}

.accordion li li {
    /* list-style-type: disc; */
    list-style-type: none;
    margin-left: 1em;
}

.accordion a {
    color: inherit;
    text-decoration: inherit;
}

.accordion .loading {
    display: none;
}

.loading {
    display: none;
}

.accordion {
    border: 1px solid #ccc;
    width:  15%;
}

.accordion li h3 a {
    background:             #666;
    background:             #666 -webkit-gradient(linear, left top, left bottom, from(#999), to(#666)) no-repeat;
    background:             #666 -moz-linear-gradient(top,  #999,  #666) no-repeat;
    border-bottom:          1px solid #333;
    border-top:             1px solid #ccc;
    color:                  #fff;
    display:                block;
    font-style:             normal;
    font-size:              medium;
    margin:                 0;
    padding:                5px 10px;
    text-shadow:            0 -1px 2px #333, #ccc 0 1px 2px;
}

.accordion li.active h3 a {
    background:             #369;
    background:             #369 -webkit-gradient(linear, left top, left bottom, from(#69c), to(#369)) no-repeat;
    background:             #369 -moz-linear-gradient(top,  #69c,  #369) no-repeat;
    border-bottom:          1px solid #036;
    border-top:             1px solid #9cf;
    text-shadow:            0 -1px 2px #036, #9cf 0 1px 2px;
}

.accordion li.locked h3 a {
    background:             #963;
    background:             #963 -webkit-gradient(linear, left top, left bottom, from(#c96), to(#963)) no-repeat;
    background:             #963 -moz-linear-gradient(top,  #c96,  #963) no-repeat;
    border-bottom:          1px solid #630;
    border-top:             1px solid #fc9;
    text-shadow:            0 -1px 2px #630, #fc9 0 1px 2px;
}

.accordion li h3 {
    margin:         0;
    padding:        0;
}
.accordion .panel {
    padding:        10px;
}
