body 
{
    margin: 0;
    padding: 0;
    background: #FFFFFF;
    font-family: "Lucida Grande", Verdana, sans-serif;
    color: #000000;
    font-size: 100%;
}

.header
{
    background: #FFFFFF;
    width: 100%;
    height: 70px;
    padding: 0px;
    margin: 0px;
    font-family: "Lucida Grande", Verdana, sans-serif;
    text-align: center;
}

.content{
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    color: #000000; 
}

.footer
{
    width: 100%;
    padding: 0px;
    margin: 0px;
    font-family: "Lucida Grande", Verdana, sans-serif;
    text-align: center;    
}

.nl{
    text-decoration: none
}

#map_canvas {
    width: 100%;
    height: 800px;
    padding: 0;
    float: left;
}

h2
{ 
    color: #999;
    margin-bottom: 0; 
    margin-left:13px;
    background:url(navigation.jpg) no-repeat;
    height:40px;
}

h2 span
{
    display: none;
}

p
{ 
    color: #000000; 
    margin-top: .5em;
    font-size: .75em;
    padding-left:15px;	
}

#navigation-block {
    position:relative;
    top:200px;
    left:200px;
}

#hide {
    position:absolute;
    top:30px;
    left:-190px;
}

ul#sliding-navigation
{
    list-style: none;
    font-size: .80em;
    margin: 30px 0;
    padding: 0;
}

ul#sliding-navigation li.sliding-element h3
{
    display: block;
    width: 200px;
    padding: 5px 18px;
    margin: 0;
    margin-bottom: 5px;
}

